#box {
    position:relative;
}
.small_pic {
    width:360px;
    height:500px;
}
    .small_pic img {
        width:100%;
        height:100%;
    }
    .small_pic .slider {
        width:180px;
        height:250px;
        position:absolute;
        background:rgba(255,255,255,.3);
        cursor:move;
    }
.big_pic {
    width:360px;
    height:500px;
    position:absolute;
    top:0;
    left:370px;
    overflow:hidden;
    border:1px solid #333;
}
    .big_pic img {
            position: absolute;
    }